<a class="wishlist__item" href="{{ product.product_url__uri }}" target="_blank">
    <div class="wishlist__item__image-wrapper">
        {{ image }}
    </div>
    <div class="wishlist__item__details" data-text-action="text-overflow" data-text-action-target="wishlist__item__name">
        <span class="wishlist__item__brand" >{{ product.product_brand }}</span>
        <span class="wishlist__item__name" >{{ product_name_without_brand }}</span>
        <div class="wishlist__item__prices">
            {% if product.product_currency == 'EUR' %}
                {% set currency = '€' %}
            {% else %}
                {% set currency = product.product_currency %}
            {% endif %}
            {% if product.product_price != '0.00' %}
                {% if product.product_original_price %}
                <span class="wishlist__item__price has-original-price">
                    {{ product.product_original_price|replace({'.': ","}) }} {{ currency }}
                </span>
                <span class="wishlist__item__original-price">
                    {{ product.product_price|replace({'.': ","}) }} {{ currency }}
                </span>
                {% else %}
                <span class="wishlist__item__price">
                    {{ product.product_price|replace({'.': ","}) }} {{ currency }}
                </span>
                {% endif %}
            {% endif %}

            {% if product.product_sold_out %}
                <span class="text-sold-out">Ausverkauft</span>
            {% endif %}
        </div>
        <button class="button--to-shop">Zum Shop</button>
    </div>

    <button class="icon icon-close"
            data-wishlist-remove="{{ product.uuid }}"></button>
</a>